<ion-header>
  <ion-toolbar style="text-align: center">
    <ion-title><b>Uda-Spice Latte</b> Cafe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div style="display: flex; flex-wrap: wrap; justify-content: center; padding-top: 20px;">
    <app-drink-graphic *ngFor="let drink of (items$ | async)" [drink]="drink" (click)="openForm(drink)" ></app-drink-graphic>

    <ion-card
     style="opacity: .7; align-items: center; display: flex; flex-direction: column; cursor: pointer;"
     *ngIf="auth.can('post:drinks')"
     (click)="openForm()">
        <ion-card-header>
          <ion-card-title>Create Drink</ion-card-title>
        </ion-card-header>

        <ion-card-content style="color:grey; font-size: 256%;">
            <ion-icon name="add-circle"></ion-icon>
        </ion-card-content>
      </ion-card>
</div>
</ion-content>
